<!-- views/blogs.ejs -->

<%- include("partials/header.ejs") %>
<h1 class="text-center mt-20 text-[#DDF2FD]">Blogs: </h1>

<% if (blogPosts.length > 0) { %>
  <!-- div determines blog on different screen sizes -->
  <% blogPosts.forEach(blog => { %>
    <div class="flex flex-col justify-center items-center w-full mt-8">
      <div class="lg:w-[50%] sm:w-[80%] md:w-[70%]">
        <div class="bg-white">
          <a href="/post/<%= blogPosts.indexOf(blog) %>"><%= blog.title %></a>
          <div class="text-right mr-3">
            <%= blog.createdOn %>
          </div>
          <p><%= blog.content %></p>
          <form action="/delete/<%= blogPosts.indexOf(blog) %>" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% }); %>
<% } else { %>
  <h2 class="text-center">You haven't posted any Blogs yet</h2>
<% } %>

<script>
function openModal() {
  var modal = document.getElementById('my_modal_1');
  modal.showModal();
}
</script>

<%- include("partials/footer.ejs") %>
